@import "../variables.scss";

@media only screen and (max-width: $line * 48) {
  body {
    font: {
      size: 120% $i;
    }

    .App {

      #SubscribeBtn {
        display: none;
      }

      header {
        * {
          position: static $i;
          margin: 0 $i;
          padding: 0 $i;
        }

        .nav-menu {
          box-sizing: border-box;
          width: 95% $i;
          max-width: $line * 32 $i;
          padding: 15% 0 $i;
          min-height: inherit;
          flex-wrap: wrap;
          justify-content: space-evenly $i;
          align-content: space-between;

          &,
          .search-box,
          .main-menu,
          .add-menu {
            margin: 0 auto $i;

            &:not(.nav-menu) {
              width: 90% $i;
            }
          }

          .logo {
            flex-basis: 60% $i;
            order: 1;
            background: {
              color: transparent $i;
            }
            box-shadow: none $i;

            &::after {
              display: none;
            }

            .logo-img {
              font: {
                size: 7.8em $i;
              }
              color: white $i;
            }
          }

          .search-box {
            order: 3;

            .SearchIco {
              padding: $line $line * 2 $line 0 $i;
              width: 95% $i;
            }

            #search {
              min-height: inherit $i;
              padding: $line $i;
              font: {
                size: 1.2em $i;
              }
              letter-spacing: 1.1px;
              border: {
                width: $line * .2 $i;
              }
              transform: none $i;
            }
          }

          .main-menu {
            order: 4;
            min-width: 90%;
            flex-direction: column;
            justify-content: space-between $i;
            align-items: center $i;

            .menu-item {

              h2 {
                font: {
                  size: 1.6em $i;
                  weight: normal;
                }
              }

              &:first-of-type {
                margin: 0 0 17.5% 0 $i;
                h2 {
                  border: none $i;
                }
              }
            }
          }

          .add-menu {
            order: 5;
            min-width: 90%;

            h2 {
              font: {
                size: 1.6em $i;
              }
              text: {
                align: center;
              }
            }
          }

          .drop-down {
            background: $main $i;
            position: absolute $i;
            top: 0 $i;
            left: 0 $i;
            width: 100% $i;
            min-height: $line * 65;
            max-height: inherit;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &::before {
              content: "";
              display: block $i;
              padding: $line * 1.5 $line;
              margin: 0 0 $line 0;
              width: 100%;
              background: {
                color: white;
              }
              color: $main;
              font: {
                family: $helvetica;
                size: 1.65em;
                weight: normal;
              }
              letter-spacing: 1.2px;
              text: {
                align: left;
                transform: uppercase;
              }
            }

            &::after {
              position: absolute;
              top: $line;
              right: $line * 1.5;
              display: block $i;
              content: "X";
              color: $main;
              font: {
                family: $helvetica;
                size: 2em;
                weight: bold;
              }
            }

            .list-item {
              padding: $line * 1.5 $line $i;
              font: {
                family: $helvetica $i;
                size: 1em $i;
                weight: normal $i;
              }
              letter-spacing: 1px;
              margin: 0 0 $line * .5 0 $i;

              span {
                color: $main $i;
                font: {
                  size: 1.65em $i;
                }
              }
            }
          }

          .social-box {
            order: 2;
            flex-basis: 25% $i;
            flex-direction: column;
            justify-content: space-between $i;
            align-items: center $i;
            font: {
              size: 1.8em $i;
            }

            .yt {
              margin: $line * 2 0 $i;
            }
          }
        }
      }

      main {

        .content-line {
          flex-direction: column $i;
          align-items: center $i;
          justify-content: center $i;
          min-width: 90% $i;
          width: 95% $i;
          max-width: 100% $i;
          padding: 0 $i;
          margin: $line auto $i;
          min-height: $line * 24 $i;
          max-height: none $i;

          &.large {
            box-sizing: border-box;
            margin: 0 0 $line 0 $i;
            width: 100% $i;
            height: $line * 24 $i;
            max-height: $line * 26 $i;
          }

          .gallery {
            width: 100% $i;
            min-height: $line * 24 $i;
            max-height: $line * 26 $i;

            .caption {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              width: 100% $i;
              height: 100% $i;
              padding: 0  $i;
              margin: 0 $i;
              background: {
                color: transparent $i;
              }

              p {
                box-sizing: border-box;
                order: 2;
                background: {
                  color: transparentize($blue, 0.3);
                }
                width: 100% $i;
                height: $line * 4 $i;
                padding: $line / 2 $i;
                margin: 0 $i;
                font: {
                  size: 0.8em $i;
                }
              }
            }

            .arrow {
              transform: none $i;
            }
          }

          .content-block {
            box-sizing: border-box;
            width: 98% $i;
            min-height: $line * 20;
            margin: $line 0 $i;
            padding: 0 $i;
            font: {
              size: 0.85em;
            }

            .caption {
              text-align: left $i;
            }

            &.news {
              flex-direction: column $i;
              height: auto $i;
              max-height: inherit $i;

              .content {
                flex-direction: column;
                width: 100%;
                height: auto;
                align-items: center;

                .news-item {
                  box-sizing: content-box;
                  max-height: $line * 40;
                  width: 90%;

                  .news-image {
                    align-self: center;
                    max-width: 100% $i;
                    height: $line * 20 $i;

                    img {
                      object-fit: cover $i;
                    }
                  }

                  h3 {
                    flex-grow: 1 $i;
                    min-height: inherit $i;
                    font: {
                      size: 0.95em $i;
                    }
                    padding: 0 0 $line 0 $i;
                  }

                  .date {
                    font: {
                      size: 0.8em $i;
                    }
                  }
                }
              }
            }

            &.announcements {

              .announcements-item {
                width: 95% $i;

                p {
                  font: {
                    size: 1.2em $i;
                  }

                  &.date {
                    font: {
                      size: 0.95em $i;
                    }
                  }
                }
              }
            }

            &.lectures,
            &.feedback {

              .caption {

              }
            }

            &.why {

              .caption {

                &::before {

                }

                &::after {

                }
              }

              .content {

                .video {

                }
              }
            }
          }
        }
      }

      footer {}
    }
  }
}