@import "variables.scss";

.nav-menu {
  position: relative;
  margin: 0 auto;
  max-width: 97.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .logo {
    position: relative;
    flex-basis: 13%;
    margin: 0 auto 0 $line * 2;
    padding: $line / 2 $line * 2;
    box-shadow: $line * -10 0 0 0 $blue;

    background: {
      color: $blue;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 100%;
      height: 100%;
      box-sizing: border-box;
      border: {
        width: 4.1em;
        style: solid;
        color: $blue;
        right: none;
        top-color: transparent;
        bottom-color: transparent;
      }
      z-index: 1000;
      transform: scaleX(.7);
      transform-origin: left;
    }

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .search-box {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: {
      x: hidden;
    }

    .SearchIco {
      font: {
        family: Ico;
        size: 1.5em;
      }
      margin: 0 $line 0 0;
      cursor: pointer;
      background: {
        color: $main;
      }
      z-index: 1;
      transition: {
        duration: $time / 2;
        timing-function: linear;
      }

      &:hover {
        text-shadow: 2px 2px 2px transparentize(white, 0.3);
      }
    }

    #search {
      font: {
        size: 1em;
      }
      border: {
        style: none;
        bottom: $line / 5 solid white;
      }
      background: none;
      outline: none;
      color: white;
      transform: translateX(-150%);
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &::placeholder {
        color: white;
      }

      &.active {
        transform: translateX(0);
      }
    }
  }

  .main-menu {
    position: relative;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto $line * 1.5;

    .menu-item {
      padding: 0;
      transition: {
        duration: $time;
        timing-function: linear;
      }

      h2 {
        margin: 0;
        padding: $line / 2;
        color: white;
        font: {
          family: Helvetica;
          size: 1.5em;
        }
        letter-spacing: $line / 4;
        text: {
          transform: uppercase;
        }
        cursor: pointer;
      }

      &:first-of-type {
        border: {
          top-left-radius: $line;
        }

        h2 {
          padding-right: $line * 3;
          border-right: $line / 2 solid white;
        }
      }

      &:last-of-type {
        border: {
          top-right-radius: $line;
        }

        h2 {
          padding-left: $line * 3;
        }
      }

      &:last-of-type {

        .drop-down {
          right: 0;
        }
      }

      &:hover {
        background: {
          color: white;
        }

        h2 {
          color: $main;
        }

        > .drop-down {
          transform: scaleY(1);
        }
      }
    }
  }

  .add-menu {
    position: relative;
    align-self: flex-start;
    margin: $line $line * 2 0 0;
    padding: $line / 2 $line;
    cursor: pointer;
    box-sizing: border-box;
    border: {
      top-left-radius: $line;
      top-right-radius: $line;
    }

    h2 {
      padding: 0;
      margin: 0;
      color: white;
      font: {
        family: Ico, Helvetica;
        size: 1.45em;
        weight: normal;
      }
    }

    .drop-down {
      width: 150%;
      left: -50%;
      
      background: {
        image:
                linear-gradient(to bottom, $main $line, transparent $line, transparent),
                url("./img/translators-day.jpg");
        size: contain;
        position: bottom;
      }
    }

    &:hover {
      background: {
        color: white;
      }

      h2 {
        color: $main;
      }

      > .drop-down {
        transform: scaleY(1);
      }
    }
  }

  .drop-down {
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: $line * 30;
    list-style: none;
    color: $main;
    font: {
      size: 0.8em;
      weight: bold;
      family: Helvetica;
    }
    transition: {
      duration: $time;
      timing-function: linear;
    }
    transform: scaleY(0);
    transform-origin: top;

    &:nth-of-type(2) {
      right: 0;
    }

    .list-item {
      padding: $line;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: {
        duration: $time;
        timing-function: linear;
      }
      background: {
        color: white;
      }
      font: {
        family: OpenSans, Helvetica, sans-serif;
        size: 1em;
      }
      text: {
        transform: uppercase;
      }
      cursor: pointer;

      &:not(:first-of-type) {
        margin: $line / 5 0 0;
      }


      span {
        font: {
          family: Ico, Helvetica, sans-serif;
          size: 1em;
        }
        color: white;
        margin: 0 auto 0 $line * 2;
      }

      &:hover {
        background: {
          color: $main;
        }
        color: white;
      }

      &.leveled {
        position: relative;

        .drop-down {
          padding: 0 0 0 $line / 5;
          top: 0;
          left: 100%;
          transform:
                  scaleX(0)
                  skewX(-45deg);
          transform: {
            origin: left;
          }
          font: {
            size: 1em;
          }

          .list-item {
            font: {
              size: 1em;
            }
          }
        }

        &:hover {

          > .drop-down {
            transform:
                    scaleX(1)
                    skewX(0);
          }
        }
      }
    }
  }

  .social-box {
    flex-basis: 10%;
    margin: $line $line * 2 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    font: {
      family: Ico;
      size: 1.5em;
    }

    .social-btn {
      color: white;
      padding: 0 $line / 2;
      text: {
        decoration: none;
      }
      transition: {
        duration: $time / 2;
        timing-function: linear;
      }

      &.yt {
        font: {
          family: IcoV2, Helvetica, sans-serif;
        }
      }

      &.fb {
        font: {
          size: .85em;
        }
      }

      &:hover {
        text-shadow: 2px 2px 2px transparentize(white, 0.3);
      }
    }
  }
}