@font-face {
  font-family: Ico;
  src: url("./fonts/ico.ttf"); }

@font-face {
  font-family: Helvetica;
  src: url("./fonts/HelveticaRegular.ttf"); }

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSansRegular.ttf"); }

.content-line {
  display: flex;
  width: 100%;
  max-height: 400px; }
  .content-line .gallery {
    margin: 20px;
    box-shadow: -2px 2px 7px 0 #01487e;
    flex-grow: 1;
    position: relative;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden; }
    .content-line .gallery .container {
      width: 100%;
      height: 100%;
      background: black; }
      .content-line .gallery .container img {
        width: 100%;
        display: inline-block; }
    .content-line .gallery .arrow {
      display: block;
      position: absolute;
      top: 40%;
      color: white;
      background-color: rgba(85, 169, 203, 0.7);
      padding: 20px 10px;
      transition-duration: 0.2s;
      font-family: Ico, Helvetica, sans-serif;
      cursor: pointer; }
      .content-line .gallery .arrow.left {
        left: 0;
        transform: translateX(-100%); }
      .content-line .gallery .arrow.right {
        right: 0;
        transform: translateX(100%); }
    .content-line .gallery .caption {
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(85, 169, 203, 0.7);
      transform: translateY(100%);
      transition-duration: 0.2s;
      transition-timing-function: linear; }
      .content-line .gallery .caption p {
        margin: 0;
        padding: 10px 20px; }
      .content-line .gallery .caption .counter {
        text-align: right;
        padding: 5px; }
        .content-line .gallery .caption .counter .counter-point {
          cursor: pointer; }
    .content-line .gallery:hover .caption {
      transform: translateY(0); }
    .content-line .gallery:hover .arrow {
      transform: translateX(0); }
  .content-line .content-block {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    box-shadow: -2px 2px 7px 0 #01487e;
    display: flex;
    flex-direction: column;
    position: relative; }
    .content-line .content-block .caption {
      margin: 0;
      font-family: Helvetica, sans-serif; }
    .content-line .content-block .arrows {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-family: Ico, Helvetica, sans-serif; }
      .content-line .content-block .arrows span {
        padding: 0 5px;
        cursor: pointer; }
        .content-line .content-block .arrows span:first-of-type {
          border-right: 1px solid black; }
    .content-line .content-block:not(.news) .arrows {
      transform: rotate(90deg); }
    .content-line .content-block.news {
      flex-basis: 65%; }
      .content-line .content-block.news .content {
        display: flex; }
        .content-line .content-block.news .content .news-item {
          flex-grow: 1;
          flex-basis: 30%;
          justify-content: space-between;
          padding: 10px;
          display: flex;
          flex-direction: column; }
          .content-line .content-block.news .content .news-item .news-image {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column; }
            .content-line .content-block.news .content .news-item .news-image img {
              display: inline-block;
              max-width: 100%;
              flex-grow: 1; }
          .content-line .content-block.news .content .news-item h3 {
            margin: 0;
            padding: 10px 0; }
          .content-line .content-block.news .content .news-item .date {
            margin: 0; }
    .content-line .content-block.anouncements {
      flex-basis: 25%; }
      .content-line .content-block.anouncements .content {
        display: flex;
        flex-direction: column; }
        .content-line .content-block.anouncements .content .anouncements-item {
          display: flex; }
          .content-line .content-block.anouncements .content .anouncements-item p {
            margin: 10px 0;
            padding: 5px 15px; }
            .content-line .content-block.anouncements .content .anouncements-item p.date {
              border-right: 2px solid black; }
    .content-line .content-block.lectures, .content-line .content-block.art, .content-line .content-block.feedback {
      flex-basis: 30%; }
      .content-line .content-block.lectures .content, .content-line .content-block.art .content, .content-line .content-block.feedback .content {
        display: flex; }
        .content-line .content-block.lectures .content [class$="item"], .content-line .content-block.art .content [class$="item"], .content-line .content-block.feedback .content [class$="item"] {
          justify-content: space-between;
          padding: 10px;
          display: flex;
          flex-direction: column; }
          .content-line .content-block.lectures .content [class$="item"] [class$="image"], .content-line .content-block.art .content [class$="item"] [class$="image"], .content-line .content-block.feedback .content [class$="item"] [class$="image"] {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column; }
            .content-line .content-block.lectures .content [class$="item"] [class$="image"] img, .content-line .content-block.art .content [class$="item"] [class$="image"] img, .content-line .content-block.feedback .content [class$="item"] [class$="image"] img {
              display: inline-block;
              max-width: 100%;
              flex-grow: 1; }
