@font-face {
  font-family: Ico;
  src: url("./fonts/ico.ttf"); }

@font-face {
  font-family: Helvetica;
  src: url("./fonts/HelveticaRegular.ttf"); }

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSansRegular.ttf"); }

.content-line {
  display: flex;
  width: 100%; }
  .content-line img {
    width: 100px; }
  .content-line .gallery {
    margin: 20px;
    box-shadow: -2px 2px 5px 0 #01487e;
    flex-grow: 1;
    position: relative; }
  .content-line .content-block {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    box-shadow: -2px 2px 5px 0 #01487e;
    display: flex;
    flex-direction: column;
    position: relative; }
    .content-line .content-block .caption {
      margin: 0; }
    .content-line .content-block .arrows {
      position: absolute;
      bottom: 10px;
      right: 10px; }
    .content-line .content-block.news .content {
      display: flex; }
      .content-line .content-block.news .content > * {
        flex-grow: 1;
        flex-basis: 30%;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px; }
    .content-line .content-block.anouncements {
      flex-basis: 25%; }
      .content-line .content-block.anouncements .content {
        display: flex;
        flex-direction: column; }
        .content-line .content-block.anouncements .content article {
          display: flex; }
    .content-line .content-block.lectures, .content-line .content-block.art, .content-line .content-block.feedback {
      flex-basis: 30%; }
