@font-face {
  font-family: Ico;
  src: url("./fonts/ico.ttf"); }

@font-face {
  font-family: Helvetica;
  src: url("./fonts/HelveticaRegular.ttf"); }

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSansRegular.ttf"); }

@keyframes preloaderAnim {
  from {
    transform: rotate(0deg); }
  35% {
    transform: rotate(85deg); }
  85% {
    transform: rotate(360deg); }
  to {
    display: none;
    transform: rotate(360deg); } }
