$line: 10px;
$time: 0.2s;

$main: #01487e;
$blue: #55a9cb;
$lightBlue: #55a9cb;
$black: #1a2e64;
$grey: #757575;
$lightGrey: #BDBDBD;

@font-face {
  font-family: Ico;
  src: url('./fonts/ico.ttf');
}

@font-face {
  font-family: Helvetica;
  src: url('./fonts/HelveticaRegular.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('./fonts/OpenSansRegular.ttf');
}

@font-face {
  font-family: IcoV2;
  src: url('./fonts/icoV2.ttf');
}

@mixin reset() {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@mixin noScroll() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 0;

    &-track {

      &-piece {

      }
    }

    &-thumb {

      &:hover {

      }

      &:active {

      }
    }
  }
}

@mixin weirdCaption() {
  background: {
    color: $main;
  }
  border: {
    radius: 50%;
    style: dashed;
    width: 1.5em;
    color: $blue;
  }
  box-shadow:
          0 0 0 $line $main,
          $line * 2 $line * -2 0 0 $main,
          $line * - 2 0 0 $line * 2 $main,
          $line * 2 $line * 2 0 $line $main;
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  text: {
    align: center;
  }
  color: white;
  filter:
          drop-shadow(0 0 $line * 5 $blue)
          drop-shadow(0 0 $line white);
}

@keyframes preloaderAnim {
  from {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(85deg);
  }

  85% {
    transform: rotate(360deg);
  }

  to {
    display: none;
    transform: rotate(360deg);
  }
}

@keyframes templateHeader {
  from {
    left: -35%;
    transform: scaleX(0);
    transform-origin: left;
  }

  25% {
    left: 50%;
    transform: scaleX(1);
    transform-origin: center;
  }

  35% {
    transform: scaleX(2);
  }

  50% {
    left: 100%;
    transform: scaleX(0);
    transform-origin: right;
  }

  60% {
    transform: scaleX(2);
  }

  75% {
    left: 50%;
    transform: scaleX(1);
    transform-origin: center;
  }

  to {
    left: -35%;
    transform: scaleX(0);
    transform-origin: left;
  }
}