@import "styles/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font: {
    size: $line * 2;
  }

  body {
    @include noScroll;

    @import "styles/contacts-block.scss";
    @import "styles/download-block.scss";
    @import "styles/subscribe-btn.scss";

    header {
      width: 100%;
      max-height: $line * 20;
      background: {
        color: $main;
      }

      @import "styles/header.scss";
    }

    main {
      @import "styles/main.scss";
    }

    footer {
      width: 100%;
      height: $line * 45;
      background: {
        color: $main;
      }
      @import "styles/footer.scss";
    }
  }
}