@import "styles/variables.scss";

html,
body {
  @include reset;
}

html {
  width: 100%;
  height: 100%;

  body {
    font-size: 120%;
    @include noScroll;

    #root {

      .App {
        display: flex;
        flex-direction: column;

        &.template {
          height: 100%;

          header {
            max-height: none;
            position: relative;

            &::after {
              display: block;
              content: '';
              width: 15%;
              height: $line / 2;
              transform-origin: left;
              transform: scaleX(0);
              position: absolute;
              bottom: 10%;
              left: 0;
              animation: {
                duration: $time * 7;
                name: templateHeader;
                timing-function: linear;
                fill-mode: both;
                iteration-count: infinite;
              }
              background: {
                color: white;
              }
            }
          }
        }

        @import "styles/contacts-block.scss";
        @import "styles/download-block.scss";
        @import "styles/subscribe-btn.scss";

        header {
          width: 100%;
          max-height: $line * 20;
          background: {
            color: $main;
          }
          flex-grow: 1;

          @import "styles/header.scss";
        }

        main {
          @import "styles/main.scss";
        }

        footer {
          width: 100%;
          height: $line * 53;
          background: {
            color: $main;
          }
          @import "styles/footer.scss";
        }
      }

      #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: {
          color: white;
        }
        transition: {
          duration: $time * 2;
        }
        z-index: 1000;

        svg {
          stroke: $main;
          fill: $main;
          animation: {
            name: preloaderAnim;
            duration: $time * 9;
            iteration-count: infinite;
            timing-function: ease-in-out;
          }
        }
      }
    }
  }

  @media screen and (max-width: $line * 48) {
    body {

      .App {

        #SubscribeBtn {
          display: none;
        }

        header {
          width: 100%;
          min-height: $line * 60;

          * {
            position: static !important;
            border: 1px solid red;
            margin: 0 !important;
            padding: 0 !important;
          }

          .nav-menu {
            position: static !important;
            min-height: inherit;
            flex-wrap: wrap;
            justify-content: space-between !important;
            align-content: flex-start;

            .logo {
              flex-basis: 60% !important;
              order: 1;
            }

            .search-box {
              order: 4;
              min-width: 90%;

              .searchIco {

              }

              #search {

              }
            }

            .main-menu {
              order: 5;
              min-width: 90%;

              .menu-item {

                h2 {

                }
              }
            }

            .add-menu {
              order: 3;
              max-width: 30%;
              max-height: $line * 4;

              h2 {

              }
            }

            .drop-down {

              .list-tem {

                span {

                }
              }
            }

            .social-box {
              order: 2;
              flex-basis: 35% !important;
              justify-content: space-between !important;
              font: {
                size: 2em !important;
              }
            }
          }
        }
      }
    }
  }
}