@font-face {
  font-family: Ico;
  src: url("./fonts/ico.ttf"); }

@font-face {
  font-family: Helvetica;
  src: url("./fonts/HelveticaRegular.ttf"); }

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSansRegular.ttf"); }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html {
  font-size: 20px; }
  html body::-webkit-scrollbar {
    width: 0;
    height: 0; }

@font-face {
  html body {
    font-family: Ico;
    src: url("./fonts/ico.ttf"); } }

@font-face {
  html body {
    font-family: Helvetica;
    src: url("./fonts/HelveticaRegular.ttf"); } }

@font-face {
  html body {
    font-family: OpenSans;
    src: url("./fonts/OpenSansRegular.ttf"); } }
  html body .contacts-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 46, 100, 0.7);
    transition-duration: 0.4s;
    transition-timing-function: linear;
    opacity: 0;
    z-index: -1; }
    html body .contacts-block table {
      min-width: 55%;
      width: 60%;
      max-width: 70%;
      background-color: #55a9cb;
      border-collapse: collapse; }
      html body .contacts-block table caption {
        position: relative;
        padding: 10px 20px;
        background-color: #55a9cb;
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left; }
        html body .contacts-block table caption #contacts-close-btn {
          position: absolute;
          top: 5px;
          right: 10px;
          color: white;
          font-family: OpenSans;
          font-size: 1.3em;
          font-weight: bold;
          cursor: pointer;
          border: none;
          outline: none;
          background: none; }
      html body .contacts-block table tr {
        background-color: white; }
        html body .contacts-block table tr th,
        html body .contacts-block table tr td {
          padding: 5px 15px;
          text-align: left;
          color: #1a2e64;
          font-family: Helvetica, sans-serif;
          font-size: 1em;
          font-weight: normal; }
        html body .contacts-block table tr th {
          width: 30%;
          border-right: 3px solid #55a9cb; }
        html body .contacts-block table tr td {
          color: #757575;
          font-size: 0.9em; }
    html body .contacts-block.active {
      z-index: 1999;
      opacity: 1; }

@font-face {
  html body {
    font-family: Ico;
    src: url("./fonts/ico.ttf"); } }

@font-face {
  html body {
    font-family: Helvetica;
    src: url("./fonts/HelveticaRegular.ttf"); } }

@font-face {
  html body {
    font-family: OpenSans;
    src: url("./fonts/OpenSansRegular.ttf"); } }
  html body .DownloadBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 46, 100, 0.7);
    transition-duration: 0.4s;
    transition-timing-function: linear;
    opacity: 0;
    z-index: -1; }
    html body .DownloadBlock a {
      min-width: 25%;
      padding: 20px 10px;
      background-color: #55a9cb;
      color: white;
      font-family: Ico, OpenSans, sans-serif;
      font-size: 1.1em;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      margin: 0 30px; }
      html body .DownloadBlock a:hover {
        background-color: white;
        color: #01487e; }
    html body .DownloadBlock.active {
      z-index: 1999;
      opacity: 1; }

@font-face {
  html body {
    font-family: Ico;
    src: url("./fonts/ico.ttf"); } }

@font-face {
  html body {
    font-family: Helvetica;
    src: url("./fonts/HelveticaRegular.ttf"); } }

@font-face {
  html body {
    font-family: OpenSans;
    src: url("./fonts/OpenSansRegular.ttf"); } }
  html body #SubscribeBtn {
    position: fixed;
    top: 60%;
    right: 30px;
    color: #01487e;
    font-family: Ico, Helvetica, sans-serif;
    font-size: 3em;
    filter: drop-shadow(0 0 10px white);
    cursor: pointer;
    border: none;
    outline: none;
    background: none; }
  html body header {
    width: 100%;
    max-height: 200px;
    background-color: #01487e; }

@font-face {
  html body header {
    font-family: Ico;
    src: url("./fonts/ico.ttf"); } }

@font-face {
  html body header {
    font-family: Helvetica;
    src: url("./fonts/HelveticaRegular.ttf"); } }

@font-face {
  html body header {
    font-family: OpenSans;
    src: url("./fonts/OpenSansRegular.ttf"); } }
    html body header .nav-menu {
      position: relative;
      margin: 0 auto;
      width: 1100px;
      max-width: 75%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; }
      html body header .nav-menu .logo {
        flex-basis: 15%;
        margin: 0 auto 0 20px; }
        html body header .nav-menu .logo img {
          object-fit: contain;
          width: 100%; }
      html body header .nav-menu .search-box {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        overflow-x: hidden; }
        html body header .nav-menu .search-box .SearchIco {
          font-family: Ico;
          font-size: 1.5em;
          margin: 0 10px 0 0;
          cursor: pointer;
          background-color: #01487e;
          z-index: 1;
          transition-duration: 0.1s;
          transition-timing-function: linear; }
          html body header .nav-menu .search-box .SearchIco:hover {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7); }
        html body header .nav-menu .search-box #search {
          font-size: 1em;
          border-style: none;
          border-bottom: 2px solid white;
          background: none;
          outline: none;
          color: white;
          transform: translateX(-150%);
          transition-duration: 0.2s;
          transition-timing-function: linear; }
          html body header .nav-menu .search-box #search::placeholder {
            color: white; }
          html body header .nav-menu .search-box #search.active {
            transform: translateX(0); }
      html body header .nav-menu .main-menu {
        position: relative;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        margin: 0 0 10px 0; }
        html body header .nav-menu .main-menu .menu-item {
          padding: 0; }
          html body header .nav-menu .main-menu .menu-item h2 {
            margin: 0;
            padding: 5px;
            color: white;
            font-family: Helvetica;
            font-size: 1.5em;
            letter-spacing: 5px;
            text-transform: uppercase;
            cursor: pointer; }
          html body header .nav-menu .main-menu .menu-item:first-of-type h2 {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 5px solid white; }
          html body header .nav-menu .main-menu .menu-item:last-of-type .drop-down {
            right: 0; }
          html body header .nav-menu .main-menu .menu-item:hover .drop-down {
            transform: scaleY(1); }
      html body header .nav-menu .add-menu {
        position: relative;
        align-self: flex-start;
        margin: 10px 0 0 0;
        padding: 5px 0;
        flex-basis: 15%;
        cursor: pointer;
        box-sizing: border-box; }
        html body header .nav-menu .add-menu h2 {
          padding: 0;
          margin: 0;
          color: white;
          font-family: Ico, Helvetica;
          font-size: 1.3em;
          font-weight: normal; }
        html body header .nav-menu .add-menu .drop-down {
          left: 0; }
        html body header .nav-menu .add-menu:hover .drop-down {
          transform: scaleY(1); }
      html body header .nav-menu .drop-down {
        position: absolute;
        padding: 0;
        margin: 0;
        min-width: 300px;
        list-style: none;
        color: #01487e;
        font-size: 0.8em;
        font-weight: bold;
        font-family: Helvetica;
        box-shadow: -2px 2px 6.66667px 0 #55a9cb;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transform: scaleY(0);
        transform-origin: top; }
        html body header .nav-menu .drop-down:nth-of-type(2) {
          right: 0; }
        html body header .nav-menu .drop-down li {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition-duration: 0.2s;
          transition-timing-function: linear;
          background-color: white;
          font-family: OpenSans, Helvetica, sans-serif;
          font-size: 0.9em;
          text-transform: uppercase;
          cursor: pointer; }
          html body header .nav-menu .drop-down li span {
            font-family: Ico, Helvetica, sans-serif;
            font-size: 1em;
            color: white;
            margin: 0 auto 0 20px; }
          html body header .nav-menu .drop-down li:hover {
            background-color: #01487e;
            color: white; }
      html body header .nav-menu .social-box {
        flex-basis: 15%;
        margin: 10px 20px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-start;
        font-family: Ico;
        font-size: 1.5em; }
        html body header .nav-menu .social-box .social-btn {
          color: white;
          text-decoration: none;
          transition-duration: 0.1s;
          transition-timing-function: linear; }
          html body header .nav-menu .social-box .social-btn:hover {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7); }

@font-face {
  html body main {
    font-family: Ico;
    src: url("./fonts/ico.ttf"); } }

@font-face {
  html body main {
    font-family: Helvetica;
    src: url("./fonts/HelveticaRegular.ttf"); } }

@font-face {
  html body main {
    font-family: OpenSans;
    src: url("./fonts/OpenSansRegular.ttf"); } }
  html body main .content-line {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1100px;
    max-width: 75%; }
    html body main .content-line:not(:first-of-type) {
      min-height: 375px;
      max-height: 450px; }
    html body main .content-line .gallery {
      margin: 20px;
      box-shadow: -2px 2px 6.66667px 0 #01487e;
      flex-grow: 1;
      position: relative;
      min-height: 500px;
      max-height: 540px;
      overflow: hidden; }
      html body main .content-line .gallery .container {
        width: 100%;
        height: 100%;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        display: flex; }
        html body main .content-line .gallery .container img {
          display: inline-block;
          object-fit: cover;
          min-width: 100%;
          filter: saturate(2); }
      html body main .content-line .gallery .arrow {
        z-index: 100;
        display: block;
        position: absolute;
        top: 40%;
        color: white;
        background-color: rgba(85, 169, 203, 0.7);
        padding: 20px 10px;
        transition-duration: 0.2s;
        font-family: Ico, Helvetica, sans-serif;
        cursor: pointer; }
        html body main .content-line .gallery .arrow.left {
          left: 0;
          transform: translateX(-100%); }
        html body main .content-line .gallery .arrow.right {
          right: 0;
          transform: translateX(100%); }
      html body main .content-line .gallery .caption {
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(85, 169, 203, 0.7);
        transition-duration: 0.2s;
        transition-timing-function: linear;
        font-weight: normal; }
        html body main .content-line .gallery .caption p {
          font-family: Helvetica, sans-serif;
          font-size: 1.1em;
          margin: 0;
          padding: 10px 10px 5px 20px; }
        html body main .content-line .gallery .caption .counter {
          text-align: right;
          margin: 0 10px 10px 0; }
          html body main .content-line .gallery .caption .counter .counter-point {
            cursor: pointer;
            font-size: 0.5em;
            letter-spacing: 1em;
            border: 2px solid white;
            margin: 7px; }
            html body main .content-line .gallery .caption .counter .counter-point.active {
              background-color: white; }
      html body main .content-line .gallery:hover .arrow {
        transform: translateX(0); }
    html body main .content-line .content-block {
      flex-grow: 1;
      margin: 20px;
      padding: 20px;
      box-shadow: -2px 2px 6.66667px 0 #01487e;
      display: flex;
      flex-direction: column;
      position: relative; }
      html body main .content-line .content-block .caption {
        margin: 0;
        font-family: OpenSans, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 1.45em;
        color: #01487e;
        text-transform: uppercase; }
      html body main .content-line .content-block .content h3 {
        color: #686868;
        font-weight: normal;
        font-family: Helvetica, sans-serif;
        font-size: 1em; }
      html body main .content-line .content-block .arrows {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-family: Ico, Helvetica, sans-serif; }
        html body main .content-line .content-block .arrows span {
          padding: 0 5px;
          cursor: pointer;
          font-size: 1.5em;
          font-weight: bold;
          color: #01487e; }
          html body main .content-line .content-block .arrows span:first-of-type {
            border-right: 2px solid #01487e; }
      html body main .content-line .content-block:not(.news) .arrows {
        transform: rotate(90deg); }
      html body main .content-line .content-block.news {
        flex-basis: 65%; }
        html body main .content-line .content-block.news .content {
          display: flex; }
          html body main .content-line .content-block.news .content .news-item {
            flex-grow: 1;
            flex-basis: 30%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            html body main .content-line .content-block.news .content .news-item .news-image {
              flex-basis: 60%;
              min-height: 60%;
              overflow: hidden; }
              html body main .content-line .content-block.news .content .news-item .news-image img {
                min-height: 100%;
                max-width: 110%;
                object-fit: cover; }
            html body main .content-line .content-block.news .content .news-item h3 {
              margin: 5px 0 0;
              padding: 0;
              font-family: OpenSans, Helvetica, sans-serif;
              font-weight: normal;
              font-size: 0.85em;
              flex-basis: 29%;
              min-height: 29%;
              flex-grow: 1;
              overflow: scroll; }
              html body main .content-line .content-block.news .content .news-item h3::-webkit-scrollbar {
                width: 0;
                height: 0; }
            html body main .content-line .content-block.news .content .news-item .date {
              margin: 0 0 30px 0;
              flex-shrink: 1;
              max-height: 15%;
              position: relative;
              color: #757575;
              padding: 5px 0 0;
              font-family: Helvetica, sans-serif;
              font-size: 0.8em; }
              html body main .content-line .content-block.news .content .news-item .date:after {
                position: absolute;
                bottom: 100%;
                display: block;
                content: "";
                width: 40%;
                height: 2px;
                background-color: #757575; }
      html body main .content-line .content-block.anouncements {
        flex-basis: 25%; }
        html body main .content-line .content-block.anouncements .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 80%; }
          html body main .content-line .content-block.anouncements .content .anouncements-item {
            display: flex; }
            html body main .content-line .content-block.anouncements .content .anouncements-item p {
              color: #757575;
              margin: 10px 0;
              padding: 5px 15px; }
              html body main .content-line .content-block.anouncements .content .anouncements-item p.date {
                font-family: OpenSans, Helvetica, sans-serif;
                font-size: 0.8em;
                border-right: 2px solid #757575; }
      html body main .content-line .content-block.lectures, html body main .content-line .content-block.feedback {
        flex-basis: 30%; }
        html body main .content-line .content-block.lectures .caption, html body main .content-line .content-block.feedback .caption {
          font-size: 1.1em; }
        html body main .content-line .content-block.lectures .content, html body main .content-line .content-block.feedback .content {
          display: flex;
          flex-direction: column; }
          html body main .content-line .content-block.lectures .content [class$="item"], html body main .content-line .content-block.feedback .content [class$="item"] {
            justify-content: space-between;
            padding: 10px;
            display: flex;
            flex-direction: column; }
            html body main .content-line .content-block.lectures .content [class$="item"] [class$="image"], html body main .content-line .content-block.feedback .content [class$="item"] [class$="image"] {
              overflow: hidden;
              width: 100%; }
              html body main .content-line .content-block.lectures .content [class$="item"] [class$="image"] img, html body main .content-line .content-block.feedback .content [class$="item"] [class$="image"] img {
                object-fit: cover;
                max-width: 110%;
                width: 100%;
                min-width: 100%; }
      html body main .content-line .content-block.why .content {
        display: flex; }
        html body main .content-line .content-block.why .content [class$="item"] {
          justify-content: space-between;
          padding: 10px;
          display: flex;
          flex-direction: column; }
          html body main .content-line .content-block.why .content [class$="item"] [class$="image"] {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column; }
            html body main .content-line .content-block.why .content [class$="item"] [class$="image"] img {
              width: 100%;
              max-width: 100%;
              flex-grow: 1; }
  html body footer {
    width: 100%;
    height: 450px;
    background-color: #01487e; }

@font-face {
  html body footer {
    font-family: Ico;
    src: url("./fonts/ico.ttf"); } }

@font-face {
  html body footer {
    font-family: Helvetica;
    src: url("./fonts/HelveticaRegular.ttf"); } }

@font-face {
  html body footer {
    font-family: OpenSans;
    src: url("./fonts/OpenSansRegular.ttf"); } }
    html body footer .footer-content {
      width: 1100px;
      max-width: 75%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      overflow: hidden; }
      html body footer .footer-content #FeedbackForm {
        margin: 0 20px 0;
        flex-basis: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white; }
        html body footer .footer-content #FeedbackForm .FeedbackCaption {
          width: 100%;
          margin: 0;
          padding: 15px 0;
          background-color: #55a9cb;
          color: white;
          font-family: Helvetica, sans-serif;
          font-size: 1.3em;
          font-weight: bold;
          text-align: center;
          box-shadow: 0 5px 20px 0 #1a2e64;
          z-index: 1; }
        html body footer .footer-content #FeedbackForm .feedback-content {
          padding: 20px 0 0 0;
          width: 80%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center; }
          html body footer .footer-content #FeedbackForm .feedback-content input,
          html body footer .footer-content #FeedbackForm .feedback-content textarea:not(#submit) {
            width: 90%;
            padding: 5px 10px;
            border: none;
            outline: none;
            resize: none;
            font-family: Helvetica, sans-serif;
            font-size: 1em;
            color: #757575;
            box-shadow: 0 2px 0 0 #55a9cb;
            transition-duration: 0.2s;
            transition-timing-function: linear; }
            html body footer .footer-content #FeedbackForm .feedback-content input::placeholder,
            html body footer .footer-content #FeedbackForm .feedback-content textarea:not(#submit)::placeholder {
              color: #757575; }
            html body footer .footer-content #FeedbackForm .feedback-content input:focus,
            html body footer .footer-content #FeedbackForm .feedback-content textarea:not(#submit):focus {
              box-shadow: 0 3px 0 0 #419fc5; }
          html body footer .footer-content #FeedbackForm .feedback-content textarea {
            height: 35%; }
          html body footer .footer-content #FeedbackForm .feedback-content #submit {
            width: 100%;
            margin: 0 0 20px 0;
            padding: 5px 0;
            background-color: #55a9cb;
            font-family: Helvetica, sans-serif;
            font-size: 1.2em;
            font-weight: bold;
            color: white;
            border: none;
            outline: none;
            transition-duration: 0.2s;
            transition-timing-function: linear;
            cursor: pointer; }
            html body footer .footer-content #FeedbackForm .feedback-content #submit:hover {
              background-color: #3891b5; }
      html body footer .footer-content .footer-add {
        flex-basis: 65%;
        margin: 0 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: center; }
        html body footer .footer-content .footer-add #ContactsBtn,
        html body footer .footer-content .footer-add #DownloadBtn {
          flex-grow: 1;
          padding: 15px 0;
          background-color: #55a9cb;
          color: white;
          font-family: Helvetica, sans-serif;
          font-size: 1.3em;
          font-weight: bold;
          text-align: center;
          border: none;
          outline: none;
          transition-duration: 0.2s;
          transition-timing-function: linear;
          cursor: pointer; }
          html body footer .footer-content .footer-add #ContactsBtn:hover,
          html body footer .footer-content .footer-add #DownloadBtn:hover {
            background-color: #3282a2; }
        html body footer .footer-content .footer-add #ContactsBtn {
          align-self: flex-start; }
        html body footer .footer-content .footer-add #DownloadBtn {
          align-self: flex-end;
          margin: 0 0 0 20px; }
        html body footer .footer-content .footer-add .GoogleMaps {
          width: 100%;
          background-color: orange;
          height: 60%; }
        html body footer .footer-content .footer-add .Copyright {
          width: 100%;
          margin: 0 0 20px 0;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around; }
          html body footer .footer-content .footer-add .Copyright span {
            font-family: OpenSans, sans-serif;
            font-size: 0.8em;
            font-weight: normal; }
